@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
p{
    margin: 10px 1px;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;

}
.body-home{
    background: url(https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg) no-repeat top right/cover;
    background-size: cover;
    transition: background-image 1s ease;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
}
.nav-movie{
    background: linear-gradient(180deg, #250101 0%, rgba(80, 2, 2, 0) 100%);

}
.home{
    padding-top: 15%;
    text-align: center;
    align-content: center;
}
.get-started{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.get-started input{
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 45px;
    border: 1px solid red;

}
.get-started button{
    height: 45px;
    padding: 10px 10px;
    border: none;
}
.icon{
    padding: 7px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 0, 0, 0.792); 
}
.movie-trend{
    background: url(/images/bg-GOT.jpg) no-repeat top right/cover;
    background-size: cover;
    width: 100%;
    height: 720px;
}
.buttons button{
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.buttons .btn-book{
    background: rgba(228, 0, 0, 0.6);
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.movie-card-section{
    margin-top: -14%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0) 100%);
}

.movie-card-trend{
    width: 170px;
 
}
.movie-card-recom{
    width: 170px;
 
}
.swiper-slide{
    display: none;
}
.movie-card-section{
    transition: 1s ease;
    cursor: pointer;
}
.movie-card-trend:hover{
    -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
:root {
  /* Colors */
  --brand-color: rgba(255, 0, 0, 0.792);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



h2 {
  font-size: 1.7rem;

  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.cardss {

  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.cardss > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  width: 80vw;
  max-width: 21.875rem;
  height: 30rem;
}

.card__content {
  --flow-space: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 65%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    hsla(0, 0%, 0%, 0.75) 20%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {

  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.3rem 0.8rem;
  width: fit-content;
  font-variant: small-caps;
  background-color: var(--brand-color);
  font-size: 0.9rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }


  .cardss:hover .card__content,
  .cardss:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .cardss:focus-within .card__content {
    transition-duration: 0ms;
  }

  .cardss:hover .card__background,
  .cardss:focus-within .card__background {
    transform: scale(1.2);
  }

  .cardss:hover .card__content--container > :not(.card__title),
  .cardss:hover .card__button,
  .cardss:focus-within .card__content--container > :not(.card__title),
  .cardss:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .cardss:hover .card__title::after,
  .cardss:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.swiper{
    width: 100%;
    height: 270px;
    overflow: auto;
    overflow-y: hidden;

}
::-webkit-scrollbar {
  width: 3px;
  height:3px;
}

::-webkit-scrollbar-track {
  background: #333333; 
}

::-webkit-scrollbar-thumb {
 background: rgb(211, 9, 9); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(117, 3, 3, 0.78);
}


         /*Admin*/

/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

  .empty-cell {
    width: 20px; /* Largeur des cellules vides */
    height: 20px; /* Hauteur des cellules vides */
    background-color: transparent; /* Couleur de fond transparente */
  }
.bx-chair{
  margin: 4px;
}

td {

  cursor: pointer;
}
.bx-chair{
  z-index: -1000;
}
.chair-checkbox {
  display: e  ;
  margin-left: 6px;
  margin-bottom: -20px;
  z-index: 1000;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="date"]::-webkit-calendar-picker {
  /* Rendre transparent */
  background-color: gray;
}
.initial-state{
  background-color: transparent;

}
.selected-offer {
  background-color: rgba(2, 94, 30, 0.436);
  border: 1px solid green;
}
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");


.body-ticket {
    height: 100vh;
    display: grid;
    font-family: "Staatliches", cursive;
    color: black;
    font-size: 14px;
    letter-spacing: 0.1em;

}

.ticket {
    margin: auto;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid white;
}

.left {
    display: flex;
}

.image {
    height: 457px;
    width: 250px;
    opacity: 0.85;
}

.admit-one {
    position: absolute;
    color: darkgray;
    height: 460px;
    padding: 0 10px;
    letter-spacing: 0.15em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
    color: white;
    font-weight: 700;
}

.left .ticket-number {
    height: 450px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

.ticket-info {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.date {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date span {
    width: 90px;
}

.date span:first-child {
    text-align: left;
}

.date span:last-child {

    text-align: right;
}

.date .june-29 {
    color: rgba(217, 4, 4, 0.78);
    font-size: 20px;
}

.show-name {
    font-size: 32px;
    font-family: "Nanum Pen Script", cursive;
    color: rgba(77, 1, 1, 0.78);
}

.show-name h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgba(227, 1, 1, 0.78);
}

.time {
    padding: 10px 0;
    color: rgba(234, 5, 5, 0.78);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
}

.time span {
    font-weight: 400;
    color: gray;
}

.left .time {
    font-size: 16px;
}


.location {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid gray;
}

.location .separator {
    font-size: 20px;
}

.right {
    width: 290px;
    border-left: 3px dashed #404040;
}

.right .admit-one {
    color: darkgray;
}

.right .admit-one span:nth-child(2) {
    color: gray;
}

.right .right-info-container {
    height: 330px;
    padding: 10px 10px 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.right .show-name h1 {
    font-size: 18px;
}

.barcode {
    height: 100px;
}
.playstore{
    width: 150px;
}
.playstore img{
    width: 100%;
}
.barcode img {
    height: 100%;
}

.right .ticket-number {
    color: gray;
}


